* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

body {
    background-image: url(/images/design/body-final.png);
}

html{scroll-behavior:smooth}

/* Navigation */

.navbar {
    width: 100%;
    display:flex;
    align-items: center;
    background-color: #B1A29D;
    position: fixed;
    top:0;
    z-index: 20;
}

.navbar-logo {
    width: 50px;
    cursor: pointer;
    margin: 3px 10px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 17px;
    margin: 0 5px;
}

nav ul li a:hover {
    background-color: #E4DFDC;
    border-radius: 5px;
    -webkit-transition: 0.55s all ease;
    transition: 0.55s all ease;
    transform: scale(1.005);
    text-shadow: 0px 1px 5px rgba(107, 102, 78, 0.8);
}

/* Start */

.container {
    background-color: #E4DFDC;
    border: 4px solid #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 12px 54px rgba(78, 69, 62, 0.27);
    height: 600px;
    margin: 20px 180px;
    margin-top: 80px;
}

.intro-text {
    padding-top: 10px;
    display: flex;
    flex-flow:wrap;
    justify-content: center;
    align-items: center;
}
.intro-text hr {
    width: 100%;
    border: none;
}
.intro-text h1 {
    font-size: 36px;
    text-decoration: underline;
    text-align: center;
}
.intro-text h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
}

.container-visit {
    display: flex;
    justify-content: space-between;
    height: 80%;
    text-align: center;
    padding: 00px 40px;
}

.container-visit a {
    text-decoration: underline;
    color: #000;
    justify-content: center;
    font-size: 36px;
    display:block;
    text-align: center;
    padding-top: 15%;
    transition: 0.8s;
}

.container-visit a:hover {
    text-decoration: none;
    transform: scale(1.15);
}

/* Store */

.store-content-slider-buttons {
    width: 100%;
    display:flex;
    justify-content: flex-start;
    margin-left: 7.8%;
    margin-bottom: 2%;
}

.content-slider-button {
    padding: 5px 20px;
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    font-style: inherit;
    border:none;
    background: none;
}

.content-slider-button:hover {
    text-decoration: underline;
    transition: 0.3s;
    font-weight: bold;
    transform: scale(1.005);
    text-shadow: 0px 1px 5px rgba(107, 102, 78, 0.8);
    cursor: pointer;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.content-active {
    border-radius: 5px;
    text-decoration: underline;
    transition: 0.3s;
    font-weight: bold;
    transform: scale(1.005);
    text-shadow: 0px 1px 5px rgba(107, 102, 78, 0.8);
    cursor: pointer;
}


.wmns-buttons {
    display:flex;
    flex-direction: column;
    width: 50px;
    margin-left: 2%;
}

.demo {
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding: 20px 40px;
    background-color: #E4DFDC;
    font-size: 14px;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}

.demo-current {
    border-left: 2.5px solid black;
    font-size:24px;
}

.demo:hover {
    border-left: 2.5px solid black;
    font-size:24px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: underline;
}


.flex-container {
    display: flex;
}

/* Air Jordan 1  */

.wmns-first-text h2{
    text-align: left;
    font-size: 72px;
    font-weight: bold;
    font-style:'Inter', sans-serif;
}

.wmns-first-text p {
    margin-top: 10px;
    text-align: left;
    opacity: 0.8;
}

.wmns-first-text {
    width: 45%;
    margin-left: 3%;
}

.add-button {
    display:flex;
    margin-top: 10px;
}

.add-button p {
    text-align: center;
    font-size: 24px;
    margin-left: 10px;
    align-self: center;
    font-weight: bold;
}
.air-jordan-add {
    width: 120px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.icon {
    margin: 10px;
}


.store-intro-shoe img {
    position: absolute;
    transform: rotate(-31deg);
    width: 48%;
    margin-left: -180px;
    margin-top: -25px
}


/* Lightbox */
.wmns-shoes-lightbox {
    background: #F6F0F085;
    border-radius: 0px 0px 30px 30px;
    margin-left: calc(-3em + -2.5%);
    margin-top: calc(8.49em + -2.9%);
}


.wmns-row > .wmns-column {
    padding: 0 8px;
}

.wmns-row:after {
    content: "";
    display: table;
    clear: both;
}
  
.wmns-column {
    /* float: left; */
    display: inline-block;
    width: 13%;
}
/* Backgroundas */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #B1A29D;
    border-collapse: separate;
    border-radius: 20px;
  }

.modal-content {
    position: relative;
    margin: auto;
    margin-top: 50px;
    padding: 0;
    width: 50%;
    max-width: 800px;
    background: #E4DFDC;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 12px 54px rgba(78, 69, 62, 0.27);
    border-radius: 30px;
    border-collapse: separate;;
}
.close {
    color: white;
    position: absolute;
    top: 100px;
    right: 300px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
    display: none;
  }

.cursor {
    cursor: pointer;
}

/* Next ir previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #fff;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .caption-container {
    text-align: center;
    background-color: #E4DFDC;
    padding: 2px 16px;
    color: black;
    font-style: inherit;
    border-radius: 30px;
  }

  .wmns-demo {
    opacity: 0.6;
    
  }
  
  .active,
  .wmns-demo:hover {
    opacity: 1;
  }

  img.hover-shadow {
    transition: 0.3s;
    
  }
  
  .hover-shadow:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:white;
    border-radius: 6px;
    transform: scale(1.2);
    transition: all .5s;
  }
